.wd-stacked-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.wd-search-bar {
    display: flex;
    align-items: center;
}

.wd-search-icon {
    position: absolute;
    margin-left: 1em;
}

.wd-cog-icon {
    color: #0d6efd
}