.wd-stacked-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.wd-fine-print {
    font-size: 12px;
}

.list-group-item-action:hover {
    opacity: 0.85 !important;
}

.nav-tabs .nav-item:hover {
    opacity: 0.85 !important;
}

.wd-pseudo-background {
    background-color: lightsteelblue;
}