.wd-icon-width {
  width: 48px;
}

.wd-top-rounded-corners {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.wd-bottom-rounded-corners {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.wd-more {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
}

.wd-more:hover {
  background-color: gainsboro;
}
