.wd-icon-width {
  width: 48px;
}

.wd-top-rounded-corners {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.wd-bottom-rounded-corners {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.wd-close {
  height: 24px;
  width: 24px;
  text-align: center;
}

.wd-close:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.wd-hover-icon:hover {
  cursor: pointer;
}

.wd-hover-icon:hover > .rounded-circle {
  background-color: gainsboro;
}

.wd-icon-sq {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}
